body {
    font-size: 19px;
    background-image: url(https://store-images.s-microsoft.com/image/apps.41602.65337160462961626.b81274ee-018a-4b56-8704-b0ee354a9ef3.377ca001-257b-4155-bb07-5591b352c5d9?mode=scale&q=90&h=1080&w=1920&background=%23FFFFFF);
    background-size: cover;
    background-repeat: no-repeat;
    color: aqua;
}

table {
    width: 30%;
    margin: 50px auto;
    margin-right:66%;
    border-collapse: collapse;
    text-align: left;
}

tr {
    border-bottom: 1px solid #cbcbcb;
}

th, td {
    border: none;
    height: 30px;
    padding: 2px;
}



form {
    width: 25%;
    margin: 50px auto;
    text-align: left;
    padding: 20px;
    margin-right: 70%; 
    
    /* border: 1px solid #bbbbbb;  */
    border-radius: 5px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    color: aqua;
    padding: 5px 10px;
    background: transparent;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid aqua;
}


.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: linear-gradient(rgba(255, 166, 0, 0.637), rgba(255, 166, 0, 0.637));
    border: none;
    border-radius: 5px;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
.msg {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}